* {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

header {
  height: 79px;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  /* text-align: center; */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

main div {
  background: silver;
  margin: 10px;
  width: 576px;
  height: 133px;
}

footer {
  height: 79px;
  background: silver;
}

@media (max-width: 1220px) {
  .container {
    width: 1220px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 872px) and (max-width: 1219px)   {
  .container {
    width: 872px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  }

  main div {
    background: red;
    margin: 10px;
    width: 365px;
    height: 133px;
  }
}

@media (min-width: 476px) and (max-width: 872px)  {
  .container {
    width: 476px;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  main div {
    background: orange;
    margin: 10px;
    width: 365px;
    height: 133px;
  }

  main div:nth-child(1) {
    /* visibility: hidden; */
    display: none;
  }

  main div:nth-child(2) {
    /* visibility: hidden; */
    display: none;
  }  

  main div:nth-child(3) {
    /* visibility: hidden; */
    display: none;
  }    
}

@media (min-width: 0px) and (max-width: 476px)   {
    .container {
      width: 476px;
      display: flex;
      flex-direction: column;
    }
  
    main {
      display: flex;
      /* flex-wrap: wrap; */
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    main div {
      background: orange;
      margin: 10px;
      width: 365px;
      height: 133px;
    }
  
    main div:nth-child(1) {
      /* visibility: hidden; */
      display: none;
    }
  
    main div:nth-child(2) {
      /* visibility: hidden; */
      display: none;
    }  
  
    main div:nth-child(3) {
      /* visibility: hidden; */
      display: none;
    }    
  }
