.formulario form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    height: 25px;
    margin-bottom: 5px;
}

button {
    background: greenyellow;
    margin-bottom: 15px;
    height: 25px;
}